.editorContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow);
  background-color: var(--color-card);
}

.editorHeader {
  background-color: var(--color-primary);
  color: var(--color-primary-foreground);
  padding: 8px 15px;
}